#wrapper {
    width: 100%;
    background: url(../images/mas3.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav.navbar {
    background-color: transparent;
}

nav .container .navbar-brand
{
    height: 70px;
}

#map {
    height: inherit;
}

#banner {
    margin: auto;
    color: white;
    border-radius: 5px;
    padding: 3em 0 3em 0;
    background: rgba(0, 0, 0, 0.2);
    font-family: AntwerpenTall;
    height: 10em;
}

#banner #banner-wrapper {
    width: 67.5em;
    margin: auto;
}

#banner p {
    padding: 0;
    margin: 0;
}

.banner-slogan {
    font-size: 5.5em;
    width: 10em;
    float: left;
    text-align: right;
    margin-right: 1.5%;
    line-height: 1.3em;
}

.banner-text {
    border-left: 5px white solid;
    font-size: 1.5em;
    width: 7em;
    float: left;
    padding-left: 1%;
    line-height: 1.2em;
    padding-top: 0.4em;
    margin-top: 0;
}

.banner-text p {
    vertical-align: bottom;
}


.infoBubble {
    overflow: hidden !important;
    line-height: 1.35;
    color: white;
    font-family: AntwerpenRegular;
    text-align: left;

}

.infoProject {
    margin: 0.5em;
    max-height: 300px;
    width: 400px;
}

.infoProject h3 {
    margin-bottom: 15px;
    border-bottom: solid 2px white;
    padding-bottom: 5px;
}

.infoWindow p {
    font-size: 1em;
}

.mapwrapper {
    margin-top: 1em;
    background-color:  rgba(0,0,0,0.7);
    padding: 0;
    border-radius: 5px;
    height: 50em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.mapwrapper .tabs, .mapwrapper .mapcontainer {
    padding: 0;
    float: left;
    height: inherit;
}

.mapwrapper .tabs {
    overflow-y: scroll;
    border-radius: 5px;
    font-family: AntwerpenRegular;
    width: 15%;
    margin-right: 0;
    margin-left: 0;
}

.mapwrapper .mapcontainer {
    width: 85%;
}

.mapwrapper .tabs button {
     width: 99.3%;
     height: 6em;
     background-color: rgba(141,144,146,0.3);
     border: none;
     border-bottom: solid #000 1px;
    color: white;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
}

.mapwrapper .tabs button:hover {
    background-color: 	rgba(255, 255, 255, 0.7);
    border-bottom: solid #000 1px;

}

/************************************************SCROLLBAR************************/

.mapwrapper .tabs::-webkit-scrollbar {
    width: 1em;
}

.mapwrapper .tabs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#f8f8ff;
}

.mapwrapper .tabs::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
    background-color: 	#fff5ee;
    outline: 1px solid slategrey;
    border-radius: 20px;
}


footer.footer {
    background-color:transparent;
}

