#wrapper {
    width: 100%;
    background: url(../images/mas3.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav.navbar, footer.footer {
    background-color: transparent;
}

nav .container .navbar-brand
{
    height: 70px;
}

#map {
    height: 35em;
    margin-top: 1em;
}

#banner {
    margin: auto;
    color: white;
    border-radius: 5px;
    padding: 3em 0 3em 0;
    background: rgba(0, 0, 0, 0.2);
    font-family: AntwerpenTall;
    height: 20em;

}

#banner p {
    padding: 0;
    margin: 0;
}

.banner-slogan {
    font-size: 5.5em;
    width: 58%;
    float: left;
    text-align: right;
    margin-right: 1.5%;
    line-height: 1.3em;
}

.banner-text {
    border-left: 5px white solid;
    font-size: 1.5em;
    width: 18.5%;
    float: left;
    padding-left: 1%;
    line-height: 1.2em;
    padding-top: 0.4em;
    margin-top: 4.4em;
}

.banner-text p {
    vertical-align: bottom;
}


.infoBubble {
    overflow: hidden !important;
    line-height: 1.35;
    color: white;
    font-family: AntwerpenRegular;
    text-align: left;

}

.infoProject {
    margin: 0.5em;
    max-height: 300px;
    width: 400px;
}

.infoProject h3 {
    margin-bottom: 15px;
    border-bottom: solid 2px white;
    padding-bottom: 5px;
}

.infoWindow p {
    font-size: 1em;
}

