html, body, #wrapper
{
	height: 100%;
	margin: 0;
	padding: 0;
}

@font-face
{
	font-family: AntwerpenTall;
	src: url(../font/Antwerpen_lettertype/Antwerpen%20webfonts/Antwerpen%20Tall%20webfonts/AntwerpenTall-Tall.woff);
}

@font-face
{
	font-family: AntwerpenRegular;
	src: url(../font/Antwerpen_lettertype/Antwerpen%20webfonts/Antwerpen%20Regular%20webfonts/Antwerpen-Regular.woff);
}

body > #wrapper
{
	height: auto;
	min-height: 100%;
	font-family: Arial, serif;
}

/*h1, h2, h3, h4, h5, h6 {
	font-family: AntwerpenTall;
	margin-bottom: 40px;
}

label, nav li {
	font-family: AntwerpenRegular;
}*/

#content
{
	padding-bottom: 7em;
}

.footer
{
	position: relative;
	width: 100%;
	background-color: #F5F5F5;
	clear: both;
	z-index: 10;
	height: 6em;
	margin-top: -6em;
}

form[name=create] label,
form[name=create] b.control-label
{
	/*font-size: 1.5em;*/
}

form[name=create] .upload #imagePlaceholder
{
	display: block;
	width: 100%;
	height: 18em;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	cursor: move;
}

form[name=create] .upload #imagePlaceholder label
{
	position: absolute;
	height: 100%;
	width: 100%;
	font-size: 8em;
	line-height: 0;
	padding: 69px 0;
	text-align: center;
}

form[name=create] .upload #imagePlaceholder img
{
	display: none;
	position: absolute;
	height: 100%;
}

form[name=create] textarea#description
{
	height: 12em;
}

form[name=create] #phases .phase:last-child
{
	margin-bottom: 15px;
}

form[name=create] #phases .phase:not(:first-of-type):last-child
{
	opacity: .5;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

form[name=create] #phases .phase:not(:last-child)
{
	padding-bottom: 30px;
	border-bottom: 1px solid #EEEEEE;
}

form[name=create] #phases .phase:not(:first-of-type)
{
	padding-top: 30px;
}

form[name=create] #phases .row:not(:last-child)
{
	margin-bottom: 15px;
}

.panel-default > .panel-heading
{
	background-color: #CF0039;
	color: white;
}

.panel-default
{
	border-color: #CF0039;
}

.dashboard-table tr:first-child:hover
{
	background-color: inherit;
}

/********************************************#94450B	NAV	*****************************/

footer.footer, nav.navbar
{
	background-color: #CF0039;
}

.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: transparent;
}

nav .container .navbar-header .navbar-brand img
{
	height: 90px;

}


nav .container .navbar-brand
{
	padding: 0;
	height: 90px;
}

#app-navbar-collapse ul
{
	vertical-align: middle;
	margin-top: 20px;

}

#app-navbar-collapse ul li a
{
	color: white;
}

footer p.text-muted
{
	color: white;
	margin-top: 15px;
}

/********************************************************** DROPDOWN **********************/
/**********************************************************http://cssdeck.com/labs/pure-css3-expand-collapse**/

.phase ul
{
	list-style-type: none;
	padding-left: 0;
	margin-top: 10px;
}

.label-header
{
	border-radius: 5px;
	padding: 5px 5px 5px 25px;
	color: white;
	background-color: #CF0039;
	width: 100%;
	height: 40px;
	font-size: 1.5em;
	margin-top: 5px;
}

.phase li .label-header:hover
{
	background-color: #81001F;
}

.phase input[type=checkbox]
{
	display: none;
}

.phase input[type=checkbox] ~ div.phase-edit
{
	max-height: 0;
	max-width: 100%;
	opacity: 0;
	border-bottom: solid 1px #EEE;
	background-color: white;
	overflow: hidden;
	white-space: nowrap;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;

}

.phase input[type=checkbox]:checked ~ div.phase-edit
{
	max-height: 800px;
	opacity: 1;
}

.phase input[type=checkbox] + label:before
{
	transform-origin: 25% 50%;
	border: 8px solid transparent;
	border-width: 8px 12px;
	border-left-color: white;
	margin-left: -20px;
	width: 0;
	height: 0;
	display: inline-block;
	text-align: center;
	content: '';
	color: #AAAFAB;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	position: absolute;
	margin-top: 7px;
}

.phase input[type=checkbox]:checked + label:before
{
	transform: rotate(90deg);
	/*margin-top: 6px;
  margin-left: -25px;*/
}

.phase-edit .col-md-8, .phase-edit .col-md-4
{
	margin-top: 20px;
	margin-bottom: 15px;
}

#map
{
	display: block;
	width: 100%;
	height: 25em;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	cursor: move;
	text-align: center;
}

.control-field
{
	border: 1px solid black;
	padding: 5px 2px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#buttonbar
{
	margin-bottom: 0.5em;
}

#place-input
{
	background-color: #FFF;
	font-family: Roboto;
	font-size: 1em;
	font-weight: 300;
	margin-left: 0.5em;
	padding: 0 0.8em 0 0.9em;
	text-overflow: ellipsis;
	width: 20em;
	margin-top: 0.9em;
	border: 1px solid transparent;
	border-radius: 2px 0 0 4px;
	height: 2.8em;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#place-input:focus
{
	border-color: #4D90FE;
}

/********************************************************* HOMEPAGE *********************/


/*********************************************************	FOOTER 	*********************/

/*********************************************************	CLEARFIX 	*********************/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
